<!DOCTYPE html>
<html>
    <head>
        <script src="https://unpkg.com/htmx.org@1.9.11" 
        integrity="sha384-0gxUXCCR8yv9FM2b+U3FDbsKthCI66oH5IA9fHppQq9DDMHuMauqq1ZHBpJxQ0J0" 
        crossorigin="anonymous"></script>
        <meta charset="utf-8">
        <title>Upload PDF</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    </head>
    <body>
        <form id='form' hx-encoding='multipart/form-data' hx-post='/upload' hx-put="/" hx-on::after-request="this.reset()">
            <input type='file' name='file' multiple>
            <button>
                Upload
            </button>
        </form>
        <div id='uploadedFiles' hx-get="/get_files" hx-trigger="load"></div>
        <div id='scoredFiles' hx-get="/score" hx-trigger="click">Click Me!</div>

    </body>
</html>